body {
  background: var(--brand-color);
  color: var(--primary-text-color);
  font-family: 'Inter', sans-serif;

  min-width: auto;
  max-height: 100vh;
  overflow: hidden;
}

::selection {
  color: var(--brand-color);
  background-color: var(--primary-text-color);
}

input::placeholder {
  color: var(--brand-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:after {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

button,
.button {
  color: var(--primary-text-color);
  background-color: var(--brand-color);
  border-radius: 16px;
  padding: 18px 20px 20px;
  height: auto;
  text-align: center;

  transition: all 150ms ease-out;

  &:hover {
    background: var(--accent-color);
  }

  &:active {
    opacity: 0.9;
  }
}

input {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--brand-color);
  text-align: center;
}

input:focus {
  border-color: var(--accent-color);
}

a.disabled {
  opacity: 0.3;
  pointer-events: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

h1 {
  color: var(--primary-text-color);
  font-family: 'catalpaultrablack', sans-serif;
  font-size: 62px;
  line-height: 1;
}

.icon {
  width: 44px;
  height: 44px;
  display: block;
  background-repeat: no-repeat;
}

.icon-twitter {
  background-image: url('../assets/images/twitter.svg');
}
.icon-discord {
  background-image: url('../assets/images/discord.svg');
}
.icon-instagram {
  background-image: url('../assets/images/instagram.svg');
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

form label,
.sp-link-wrapper {
  display: none !important;
}

.sp-button {
  color: var(--primary-text-color);
  background-color: var(--brand-color);
  border-radius: 16px;
  padding: 18px 20px 20px !important;
  height: auto !important;
  text-align: center;
  font-size: 18px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;

  transition: all 150ms ease-out;

  &:hover {
    background: var(--accent-color) !important;
    top: 0 !important;
  }

  &:active {
    opacity: 0.9;
  }
}

.sp-form-control {
  padding: 18px 20px 20px !important;
  height: auto !important;
}

header a {
  border-bottom: 1px solid;
  transition: all 150ms ease-out;

  &:hover {
    border-bottom-color: transparent;
  }
}
